/********************************************/
/****** Hungry Wanderers Custom Styles ******/
/********************************************/

body {
	background-color: white;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.site-header {
	background-color: #3B47FA;
	width: 100%;
	height: 50vh;
}

/* HEADINGS */
h1 {
	color: #3B47FA;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	color: #6AAADE;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-family: 'Montserrat', sans-serif;
}

h4 {
	font-family: 'Montserrat', sans-serif;
}

h5 {
	font-family: 'Montserrat', sans-serif;
}

h6 {
	font-family: 'Montserrat', sans-serif;
}

/* PRE-FORMATTED BLOCKS */

.wp-block-preformatted {
	font-family: 'Montserrat', sans-serif;
}

.wp-block-preformatted strong {
	font-weight: bold;
	font-style: italic;
}

.wp-block-preformatted em {
	font-size: 1vw;
}

/* ORDERED LIST */

ol {
	list-style: none;
	counter-reset: wanderers-counter;
	font-family: 'Montserrat', sans-serif;
}

ol li {
	counter-increment: wanderers-counter;
}

ol li::before {
	content: counter(wanderers-counter) ". ";
	color: #6ADE9E;
	font-weight: bold;
}

ol ul {
	list-style: none;
	counter-reset: wanderers-counter;
}

ol ul li:before {
	content: "\2735" ;
    color: #6ADE9E;
    margin-right: 0.3vw;
} 

/* UNORDERED LIST */

ul.is-style-fancy-list {
	list-style: none;
	counter-reset: wanderers-counter;
	font-family: 'Montserrat', sans-serif;
}

ul ul{
	list-style-type: none;
}

ul.is-style-fancy-list li:before {
	content: "\2735" ;
    color: #6ADE9E;
    margin-right: 0.3vw;
	font-weight: bold;
}

/* MENU */
#primary-menu {
	display: flex;
	justify-content: flex-end;
}

#primary-menu li {
	margin-right: 5%;
	font-size: 30px;
	font-weight: 500;
	color: #1d1d1d
}


/* BLOCK QUOTES */
/* - Fancy Quote - */
.is-style-fancy-quote {
	text-align: justify;
	padding-left: 1em;
	border-left: 5px double #3B47FA;
	margin-left: 3vw;
	margin-right: 6vw;
}


.is-style-fancy-quote p {
	font-size: 2vw;
	font-style: italic;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 20px;
	line-height: 1.4;
}

.is-style-fancy-quote p:before {
	content: open-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: -10px;
	position: relative;
	top: 30px;
	color: #ccc;
	font-size: 3em;
	color: #3B47FA;
}

.is-style-fancy-quote p:after {
	content: close-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: 10px;
	position: relative;
	top: 35px;
	color: #ccc;
	font-size: 3em;
	color: #3B47FA;
}

.is-style-fancy-quote cite {
	margin: 0;
	text-align: right;
	font-size: 1.5em;
	font-style: italic;
}

/* - Blue Quote - */
.is-style-blue-quote {
	color: #3B47FA;
	font-style: italic;
	font-size: 2vw;
}

.is-style-blue-quote cite {
	font-size: 1.5vw;
}

/* VERSE */
.wp-block-verse {
	font-family: 'Great Vibes', sans-serif;
    margin-left: 2vw;
    font-size: 2vw;
}

/* SEPARATORS */
/* - airplane - */
.is-style-airplane {
    background: none!important;
    border: none;
    text-align: center;
    max-width: none!important;
    line-height: 1;
	height: auto;
}

.is-style-airplane:before {
    content: "\2708 \2708 \2708 \2708 \2708";
    color: #3B47FA;
    font-size: 20px;
    letter-spacing: 2em;
    padding-left: 2em;
	font-family: serif;
}

/* - flowers - */
.is-style-flowers {
    background: none!important;
    border: none;
    text-align: center;
    max-width: none!important;
    line-height: 1;
	height: auto;
}

.is-style-flowers:before {
    content: "\273F \273F \273F \273F \273F";
    color: #6ADE9E;
    font-size: 20px;
    letter-spacing: 2em;
    padding-left: 2em;
	font-family: serif;
}

/* TABLE */
/* - stripes - */
.wp-block-table.is-style-stripes {
	font-family: 'Montserrat', sans-serif;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: rgba(106,222,158,0.3);
}

.wp-block-table.is-style-stripes td, .wp-block-table.is-style-stripes th {
    border-color: transparent;
}

/* - borders - */
.wp-block-table.is-style-borders {
    border-spacing: 0;
    border-collapse: inherit;
    background-color: transparent;
	border-bottom: 1px solid #f3f4f5;
	font-family: 'Montserrat', sans-serif;
}

.wp-block-table.is-style-borders tbody tr:nth-child(odd) {
    background-color: rgba(106,222,158,0.3);
}

.wp-block-table.is-style-borders td, .wp-block-table.is-style-borders th {
    border-color: #6ADE9E;
}

/* LATEST POSTS */
.wp-block-latest-posts.wp-block-latest-posts__list {
    list-style: none;
	font-family: 'Montserrat', sans-serif;
}

.wp-block-latest-posts.wp-block-latest-posts__list li a {
	color: #3B47FA;
}

.wp-block-latest-posts.wp-block-latest-posts__list li a:hover {
	font-style: italic;
}

.wp-block-latest-posts.wp-block-latest-posts__list li:before {
    content: "\270D";
    margin-right: 0.3vw;
}